
/* General */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-image: linear-gradient(to right, rgb(125, 123, 123) , rgb(255, 255, 255));
}

a{
    color: #ffffff;
    text-shadow: 2px 2px #828282;
}

ul{
        margin-block-end: 0;
        margin-block-start: 0;
}

ul li {
    display:inline-flex;
    margin-left: 5px;
    text-align: right;
    margin-bottom: 20px;
    padding-inline-start: 10px;
}

p{
    margin: 0%;
    text-align:left;
    color: rgb(0, 0, 0);
    text-indent: 40px;
    line-height:30px;
    margin-right: 15px;
}

/* Header */

.header {
    color: #ffffff;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/TopBG.jpg");
    background-size: cover;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #7d7d7d;
}

.header h1 {
    display: inline-block;
    font-size: 70px;
    margin-block-end: 0;
    margin-block-start: 0;
    text-shadow: 2px 2px 5px #828282;
}

.topleft{
    flex-direction: column;
    margin-left: 8px;
    margin-top: 10px;
    width: 300px;
}

.header nav {
    color: #ffffff;
    padding-inline-start: 5px;
    margin-right: 20px;
    float: right; 
    font-size: 20px;
}

h2{
    font-size: 20px;
    float: left;
    text-shadow: 2px 2px #000000;
    margin-block-end: 0;
    
}

nav ul li a:hover{
    color: #575555;
}

/* Main Section */

main{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:left;
}

.container{
    width: 100%;
    padding-top: 5%;
}

.sub-container{
    margin: 0%;
    width:71%;
    float:right;
    padding-left: 2%;
    border-left: 2px;
    border-left-style: solid;
    border-left-color:black ;
    text-align: center;
}

.sub-container2{
    margin: 0%;
    width:71%;
    float:right;
    padding-left: 2%;
    border-left: 2px;
    border-left-style: solid;
    border-left-color:black ;
    background-image: url("../images/TopBG.jpg");
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center
}

.title{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 2%;
    text-align:center;
    color: rgb(255, 255, 255);
    width: 23%;
    float: left;
    background-image: url("../images/TopBG.jpg");
    background-size: cover;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #7d7d7d;
    text-shadow: 2px 2px 2px #363535;
}

.exlinks{
    display:flex;
    flex-direction: row;
    list-style:none;
    font-size: 4vw;
    justify-content:center;
    padding-inline-start: 0%;
    margin-inline-end: 5%;  
}

.btm{
    margin-block-start:5%;

}

.largeimg{
    width: 98%;
    border: #000000;
    border-style: solid;

}

.smallimg{
    width: 48%;
    border: #000000;
    border-style: solid;
}

.linkimg{
    width: 100%;
}

img:hover{

    opacity: .5;
    }

.HS{
    width:50%;
    border-radius: 25px;

}

/* Footer */

footer{

    text-align: center;
    width: 71%;
    float: right;
}

/* Responsive */

@media (max-width:644px){
    ul{
        margin-block-start:5%;
    }
    .smallimg{
        width: 98%;
    }
    h2{
        display: none;
    }
    .title{
        font-size: 16px;
    }
}

     

   
